<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NotePad</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div id="app" class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="note">Add Note</label>
					<input v-model="note" @keyup.enter.prevent="doSomething()" type="text" class="form-control" id="note" placeholder="Fool something">
				</div>	
			
				<hr>
				<table class="table table-dark">
  					<thead>
  						<tr>
  							<th>ID</th>
  							<th>Note</th>
  							<th></th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr v-for="note in notes">
  							<td>{{ note.id }}</td>
  							<td>{{ note.text }}</td>
  							<td><button v-on:click="deleteRecord(note.id)" class="btn-danger">DEL</button></td>
  						</tr>
  					</tbody>
			</div> <!-- end of col-md-12 -->
		</div> <!-- row -->
	</div> <!-- container -->
	<script src="js/vue.js"></script>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				note: "",
				notes: []
			},
			methods: {
				doSomething: function() {
					this.notes.push({ id: this.notes.length, text: this.note })
					this.note = ""
				},
				deleteRecord: function(id) {
					this.notes.splice(id, 1)
				}
			}
		})
	</script>
	</body>
	</html>